<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      

      <h2>
         <a href = "{{ url_for('index') }}">Back to Main Page</a>
      </h2>


      <h3>
         <a href = "{{ url_for('show_all_color') }}">Show All Colors</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Colors (<a href = "{{ url_for('new_color', operation = 'add') }}">Add Color
         </a>)(<a href = "{{ url_for('new_color', operation = 'update') }}">Update Color
         </a>)(<a href = "{{ url_for('new_color', operation = 'delete') }}">Delete Color
         </a>)(<a href = "{{ url_for('new_color', operation = 'select') }}">Select Color
         </a>)</h3>

      
      <table>
         <thead>
            <tr>
               <th>ID</th>
               <th>Name</th>
               <th>RGB</th>
               <th>is_trans</th>
            </tr>
         </thead>
         
         <tbody>
            {% for color in colors %}
               <tr>
                  <td>{{ color.id }}</td>
                  <td>{{ color.name }}</td>
                  <td>{{ color.rgb }}</td>
                  <td>{{ color.is_trans }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>